CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
*.vtk
*.bin
*.vtm
*.vts
.DS_Store
build/
.vscode
.vscode/
*.png
*.pdf
*.visit
.DS_Store
build/
install/
src/
*data
*.vtpd
*.vti
*.bp/